@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", system-ui;
  font-size: 24px;
  font-weight: bold;
  background-color: #003049;
  color: #fdf0d5;
  padding: 100px;
}

.title {
  margin-bottom: 10px;
}

.first {
  width: 80%;
  height: 80vh;
  background-color: #fdf0d5;
  color: #003049;
  padding: 40px;
}

.first.context {
  color: #023047;
}

.second {
  width: 80%;
  height: 60vh;
  background-color: #c1121f;
  color: #fdf0d5;
  padding: 40px;
}

.second.context {
  background-color: #fb8500;
  color: #023047;
}

.third {
  width: 80%;
  height: 40vh;
  background-color: #2f0909;
  color: #fdf0d5;
  padding: 40px;
}

.third.context {
  background-color: #8ecae6;
  color: #023047;
}

button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: #003049;
  color: #fdf0d5;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}